
## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.sln.ide/

## Database
*.db
*.sqlite
*.sqlite3

## JetBrains Rider
.idea/
*.sln.iml

\docs\superpowers

## Build & Releases
dist/
Releases/

## Tools & IDEs
.opencode/

## macOS
.DS_Store
